<?xml version="1.0" encoding="utf-8"?>
<Context>
    <JarScanner scanClassPath="false" scanAllFiles="false" scanAllDirectories="false"/>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <!--<Resource
            name="jdbc/TASY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasy"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521/phdev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/> -->
    <Resource
            name="jdbc/TASY-WHEB"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasyWheb"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521/phdev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTASY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521/phdev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WHAOC"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWHaoc"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.253.237:1521:dbhoc"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTESTE"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasyTeste"
            user="teste"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521:orcl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEVBLR"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDevBlr"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@10.10.11.99:1521/devblr"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTASYI18N"
            connectionPoolName="UCPPoolWTasyI18N"
            user="comercial"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.16:1521:tasyi18n_UTF8"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WPOC"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="tasyuk_tr"
            password="aloisk"
            url="jdbc:oracle:thin:@52.58.174.145:1521:orcl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <!-- <Resource
            name="jdbc/WTECHINTL"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="tasy_intl_destroy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.240.50:1521:techintl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/> -->
    <Resource
            name="jdbc/WFASTOPS"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="fast_ops"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.240.90:1521/fast_ops"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WASSISTENCIAL"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="assistencial"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.254.229:1521:dblatam"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDBBD3"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDBBD3"
            user="dbbuild3_tst"
            password="HPDell"
            url="jdbc:oracle:thin:@srv-db-12c-3.whebdc.com.br:1521/DBBD3"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WUNICODE"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="teste"
            password="hpcompaq"
            url="jdbc:oracle:thin:@192.168.253.176:1521/VVH5RG17"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEVBLRGG"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDevBlrGG"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@10.10.11.105:1521/phidev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WGERMANY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="GERMANY"
            user="germany"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-db-12c-2.whebdc.com.br:1521/GERMANY"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WPHPERF"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPHPERF"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.253.134:1521/phperf"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WVVGLOBAL_DBBD3"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolVVGLOBAL_DBBD3"
            user="dbbuild3_tst"
            password="HPDell"
            url="jdbc:oracle:thin:@srv-db-12c-3.whebdc.com.br:1521/VVGLOBAL_DBBD3"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/TASY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasy"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-dbora-09.whebdc.com.br:1521/RD_BNU_TECHNOLOGY"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/TASY-WHEB"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasyWheb"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521/phdev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTASY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521/phdev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WHAOC"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWHaoc"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.253.237:1521:dbhoc"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTESTE"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolTasyTeste"
            user="teste"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.230:1521:orcl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEVBLR"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDevBlr"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@10.10.11.99:1521/devblr"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTASYI18N"
            connectionPoolName="UCPPoolWTasyI18N"
            user="comercial"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.0.16:1521:tasyi18n_UTF8"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WPOC"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="tasyuk_tr"
            password="aloisk"
            url="jdbc:oracle:thin:@52.58.174.145:1521:orcl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WTECHINTL"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="tasy_intl_destroy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.240.50:1521:techintl"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WFASTOPS"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="fast_ops"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.240.90:1521/fast_ops"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WASSISTENCIAL"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPoc"
            user="assistencial"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.254.229:1521:dblatam"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDBBD3"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDBBD3"
            user="dbbuild3_tst"
            password="HPDell"
            url="jdbc:oracle:thin:@srv-db-12c-3.whebdc.com.br:1521/DBBD3"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WUNICODE"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="teste"
            password="hpcompaq"
            url="jdbc:oracle:thin:@192.168.253.176:1521/VVH5RG17"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEVBLRGG"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWDevBlrGG"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@10.10.11.105:1521/phidev"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WGERMANY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="GERMANY"
            user="germany"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-db-12c-2.whebdc.com.br:1521/GERMANY"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WPHPERF"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWPHPERF"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.253.134:1521/phperf"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WVVGLOBAL_DBBD3"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolVVGLOBAL_DBBD3"
            user="dbbuild3_tst"
            password="HPDell"
            url="jdbc:oracle:thin:@srv-db-12c-3.whebdc.com.br:1521/VVGLOBAL_DBBD3"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEC_DEPLOY_01"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="Germany"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-db-12c-2.whebdc.com.br:1521/dec_deploy"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEC_DEPLOY_02"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="Teste"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-db-12c-2.whebdc.com.br:1521/dec_deploy2"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WDEC_DEPLOY_03"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWTasy"
            user="Germany"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-db-12c-2.whebdc.com.br:1521/dec_deploy3"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WCAMBRIDGE"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            minPoolSize="2"
            maxPoolSize="500"
            maxIdleTime="1"
            inactiveConnectionTimeout="20"
            user="COMERCIAL"
            password="aloisk"
            url="jdbc:oracle:thin:@192.168.254.208:1521/CAMBRIDGE"
            connectionPoolName="UCPPoolWCambridge"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
    <Resource
            name="jdbc/WRD_BNU_TECHNOLOGY"
            auth="Container"
            factory="oracle.ucp.jdbc.PoolDataSourceImpl"
            type="oracle.ucp.jdbc.PoolDataSource"
            connectionFactoryClassName="oracle.jdbc.pool.OracleDataSource"
            connectionPoolName="UCPPoolWRD_BNU_TECHNOLOGY"
            user="tasy"
            password="aloisk"
            url="jdbc:oracle:thin:@srv-dbora-09.whebdc.com.br:1521/RD_BNU_TECHNOLOGY"
            minPoolSize="2"
            maxPoolSize="500"
            initialPoolSize="5"
            inactiveConnectionTimeout="60"
            timoutCheckInterval="60"
            connectionWaitTimeout="18000"
            abandonConnectionTimeout="10"
            maxConnectionReuseCount="100"
            maxConnectionReuseTime="300"
            validateConnectionOnBorrow="true"
            sqlForValidateConnection="select 1 from DUAL"/>
</Context>